<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DwaFitness · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="navigation">
      <section class="container split_header">
        <ul class="navigation__list">
          <li class="navigation__item">DWA Fitness</li>
          <li class="navigation__item"><a href="<%= Routes.course_path(@conn, :index) %>">Home</a></li>
        </ul>

        <ul class="navigation__list">
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <li class="navigation__item"><%= link "Live Dashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
          <% end %>
        </ul>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
