.accordion {
  border: 1px solid #a9a8a8;
  border-radius: 2px;

  &__group:last-child {
    border-bottom: none;
  }

  &__group {
    border-bottom: 1px solid grey;

    &--active .accordion__body {
      display: block;
    }
  }
  &__title {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
  }
  &__body {
    display: none;
    border-top: 1px solid grey;
  }

  &__row {
    padding: 12px 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }
}

.duration {
  font-size: 14px;
}